
#selectHours {
    width: 200px; 
    height: 30px; 
    font-size: 15px; 
    font-weight: 700; 
    color: rgb(172, 74, 74); 
    background-color: transparent; 
    border: none; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(250, 160, 160, 0.5); 
    padding: 5px 10px; 
    outline: none; 
    cursor: pointer; 
}


#selectHours:focus {
    transition: all 0.8s ease; 
    box-shadow: 0 4px 6px rgba(196, 114, 114, 0.8); 
    background-color: rgba(250, 160, 160, 0.8); 
}


option {
    font-weight: 700; 
    color: rgb(172, 74, 74); 
    background-color: white; 
}

