#fileGeneratorContainer {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  #fileForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  #nameInput,
  #addressInput {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #generateButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff006a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #generateButton:hover {
    background-color: #ff006a;
  }
  